foo{
    background-color:"https://www.wallpapertip.com/wmimgs/25-250128_black-floral-texture-background.jpg";
    color: yellowgreen;
}

.flex {
    display: flex;
}

.fo1{
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 5px solid greenyellow;
    font-size: 25px;
}
.fo2{
    width: 400px;
    height: 50px;
    padding: 9px;
    border: 5px solid greenyellow;
    font-size: 25px;
}
.flex_test-box {
    background-color: grey;     /* 背景色指定 */
    padding:  10px;             /* 余白指定 */
}
 
.flex_test-item {
    padding: 10px;
    color:  darkslategrey;               /* 文字色 */
    margin:  10px;              /* 外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
}
 
.flex_test-item:nth-child(1) {
    background-color:  darkseagreen; /* 背景色指定 */
}
 
.flex_test-item:nth-child(2) {
    background-color:  mediumseagreen; /* 背景色指定 */
}
 
.flex_test-item:nth-child(3) {
    background-color: mediumaquamarine; /* 背景色指定 */
}
 
.flex_test-item:nth-child(4) {
    background-color:  seagreen; /* 背景色指定 */
}
.flex_test-item:nth-child(5) {
    background-color:  lightgreen; /* 背景色指定 */
}
